@charset 'UTF-8';

.container {
    overflow: auto;
    scroll-snap-type: y mandatory;
    height: 80vh;
}

section {
    height: 80vh;
    scroll-snap-align: start;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.hero {
    background-image: url(../images/bread1.jpg);
    text-align: center;
    padding-top: 10vh;
}

.title {
    font-family: 'Dancing Script', cursive;
    font-size: 7rem;
    margin-bottom: 2rem;
}

@media (max-width: 700px) {
    .title {
        font-size: 4rem;
    }
}
